SHOPRETURN_CUSTOMER_A_EMAIL=shopreturn-customer-a@yopmail.com
SHOPRETURN_CUSTOMER_A_PASSWORD=
SHOPRETURN_CUSTOMER_B_EMAIL=shopreturn-customer-b@yopmail.com
SHOPRETURN_CUSTOMER_B_PASSWORD=
SHOPRETURN_OPS_EMAIL=shopreturn-ops@yopmail.com
SHOPRETURN_OPS_PASSWORD=
SHOPRETURN_MANAGER_EMAIL=shopreturn-manager@yopmail.com
SHOPRETURN_MANAGER_PASSWORD=
SHOPRETURN_SELFREG_EMAIL=shopreturn-selfreg@yopmail.com
SHOPRETURN_SELFREG_PASSWORD=
SHOPRETURN_SELFREG2_EMAIL=shopreturn-selfreg2@yopmail.com
SHOPRETURN_SELFREG2_PASSWORD=
